In [1]:
import pandas as pd
from sklearn.model_selection import StratifiedKFold

In [4]:
df = pd.read_csv('../data/raw/sofmattress_train.csv')

In [5]:
df['fold'] = -1

In [6]:
df=df.sample(frac =1).reset_index(drop=True) ## sample

In [7]:
df.head()

                             sentence            label  fold
0  May I please know about the offers           OFFERS    -1
1           Current state of my order     ORDER_STATUS    -1
2                       I want refund  RETURN_EXCHANGE    -1
3          Can pay later on delivery               COD    -1
4          Can I cancel my order here     CANCEL_ORDER    -1

In [8]:
y = df.label.values

In [10]:
kf = StratifiedKFold(n_splits=5, shuffle=True, random_state = 42)

In [11]:
splits = kf.split(X=df, y=y)

In [12]:
for index, (train,valid) in enumerate(splits):
    df.loc[valid, 'fold'] = index

In [13]:
df.head()

                             sentence            label  fold
0  May I please know about the offers           OFFERS     4
1           Current state of my order     ORDER_STATUS     2
2                       I want refund  RETURN_EXCHANGE     0
3          Can pay later on delivery               COD     1
4          Can I cancel my order here     CANCEL_ORDER     4

In [14]:
df.fold.value_counts()

2    66
1    66
0    66
4    65
3    65
Name: fold, dtype: int64

In [15]:
(df.groupby('fold').label.value_counts(normalize=True)* 100).to_frame('Percentage').reset_index().sort_values('Percentage')

    fold               label  Percentage
83     3  SIZE_CUSTOMIZATION    1.538462
15     0       ERGO_FEATURES    3.030303
60     2             PILLOWS    3.030303
33     1  ABOUT_SOF_MATTRESS    3.030303
34     1        CANCEL_ORDER    3.030303
..   ...                 ...         ...
21     1        DISTRIBUTORS    9.090909
42     2        DISTRIBUTORS   10.606061
0      0        DISTRIBUTORS   10.606061
63     3        DISTRIBUTORS   10.769231
84     4        DISTRIBUTORS   10.769231

[105 rows x 3 columns]

In [16]:
df.to_csv('../data/folds.csv', index=False)